/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {

    behaviors 
    {
        td0: tap_dance_0 
        {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_ASTERISK>, <&kp KP_ASTERISK>, <&bt BT_SEL 0>;
        };

        td1: tap_dance_1 
        {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_SLASH>, <&kp KP_SLASH>, <&bt BT_SEL 1>;
        };

        td2: tap_dance_2 
        {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_EQUAL>, <&kp KP_EQUAL>, <&bt BT_CLR>;
        };
    };

    keymap 
    {
        compatible = "zmk,keymap";

        base_layer 
        {
            label = "Base";
            bindings = <
 &kp LSHFT  &kp SPACE  &kp RGUI      &kp LALT     &kp ENTER  &kp Z     &kp E  &kp R  &kp P      &kp H      &td2  &kp C_MUTE
 &kp DEL    &kp BSPC   &kp Y         &kp M        &kp C      &kp I     &kp Q  &kp S  &kp O      &kp G      &td1  &kp C_VOL_DN
 &kp TAB    &kp ESC    &kp X         &kp RIGHT    &kp DOWN   &kp LEFT  &kp J  &kp T  &kp N      &kp F      &td0  &kp C_VOL_UP
                       &kp KP_MINUS  &kp KP_PLUS  &kp UP     &kp W     &kp V  &kp U  &kp SPACE  &kp RCTRL

            >;
        };
    };
};
